{% extends 'base.html' %}

{% block content %}
<h2>Water Bottles</h2>
<table>
    <tr>
        <th>Brand</th>
        <th>Color</th>
        <th>Country</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Price</th>
    </tr>
    {% for bottle in water_bottles %}
    <tr>
        <td>{{ bottle.brand }}</td>
        <td>{{ bottle.color }}</td>
        <td>{{ bottle.country }}</td>
        <td>{{ bottle.quantity }}</td>
        <td>{{ bottle.supplier.name }}</td>
        <td>{{ bottle.price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
