{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-8">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Type in Dish Details:</h5>
        </div>
        <div class="card-body">

            <form method="POST" action="{% url 'add_menu' %}">{% csrf_token %}
            <!-- Form action redirects to url ‘add_menu’  -->
            
                <!-- 4.a.ii 
                This login page should contain a form that prompts 
                the user to supply a username and a password -->
                <div class="form-group">
                    <label for="name"> Username: </label>
                    <input type="text" class="form-control" id="dname" name="dname">
                </div>

                <!-- <div class="row"> -->
                    <!-- <div class="col-6"> -->
                        <div class="form-group">
                            <!-- 4.a.ii -->
                            <label for="vintage"> Password: </label>
                            <input type="text" class="form-control" id="ctime" name="ctime">
                        </div>
        
                    </div>
                    <!-- <div class="col-6">
                        <div class="form-group">
                            <label for="price"> Prep Time: </label>
                            <input type="number" class="form-control w-50" id="ptime" name="ptime">
                        </div> -->
        
                    </div>
                <!-- </div> -->


                <!-- 4.a.iii 
                The login page should also contain a signup button. 
                Clicking on it navigates the user to a signup page -->
                <button type="submit" class="mt-3 btn btn-secondary">Signup</button>
            </form>                


        </div>
    </div>

</div>
{% endblock %}
