<!-- Johann Miguel S. Alcalde, 240150 ; Samantha Louise F. Amansec, 230286 ; Zale Sebastian S. Latonio, 242494

We hereby attest to the truth of the following facts:

We have not discussed the Python code in our program with anyone
other than my instructor or the teaching assistants assigned to this course.

We have not used Python code obtained from another student, or
any other unauthorized source, whether modified or unmodified.

If any Python code or documentation used in our program was
obtained from another source, it has been clearly noted with citations in the
comments of our program.-->

{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}

<div class="col-12">
    <h1>Username</h1>
    <h2>{{ account.username }}</h2>
    <hr>
    <p>
        <a href="{% url 'change_password' pk=account.pk %}" class="btn btn-success">Change Password</a>
        <a href="#" class="btn btn-danger">Delete Account</a>
        <a href="{% url 'basic_list' pk=account.pk %}" class="btn btn-dark">Back</a>
    </p>
</div>

{% endblock %}